

.slick-initialized .slick-slide {
  display: block;
/*  filter: alpha(opacity=40);*/
  opacity: 1; 
  transition: all 0.3s ease-out;
}
	
.slick-initialized .slick-center {
  display: block;
  filter: alpha(opacity=100);
  opacity: 1; 
  transition: all 0.3s ease-out;
}



.slick-codepen {
  width: 100%;
  height: auto;
/*  background-color: #141414;*/
  
  
  }
  
  .slick-prev { left: -20px; }
  .slick-next { right: -20px; }
  
  .slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
     width: 8%;
    height: 100%;
    transition: all 0.3s ease-out 0s;
    
   
  }
  
  .slick-dots {
    width: 22%;
    left: 40%;
    bottom: -68px;
   /* border-bottom: 1px solid #3498DB;*/
    padding: 15px 0;
    display: none!important;
    
   
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
   li.slick-active button:before { color: #3498DB; /*margin-top: 1px; */font-size: 20px;}
}

@media screen and (max-width: 480px) {
  .slick-codepen, .slick-codepen .slick-slide { height: 220px; }
  .wrapper { width: 100%; }
}